.column {
    width: 800px;
    margin: 0px auto;
    justify-content: center;
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
}
#grid {
    transform: rotate(-90deg);
    /* background-color: blue; */
}
.title{
    float: center;
}
button{
    margin: 15px;
    transform: rotate(90deg);
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
/* .column{
    background-color: blue;
} */
.columnButtons {
    /* background-color: grey; */
}
.row {
    width: 100px;
    height: 100px;
    
    margin: 0px;
    border: 8px blue solid;
    border-radius: 50%;
    margin: 4px;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-size: small;
}
